.container {
  margin: 3%;
  padding: 10px;
}

table {
  width: 100%;
}

.table-container {
  width: 100%;
}

.row {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
}

.spacer {
  flex: 1 1 auto;
}

.m-l-5 {
  margin-left: 5px;
}

.avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  flex-shrink: 0;
}

.patient {
  margin-left: 10px;
}

.fab-span {
  margin: 10px;
  background-color: green;
  border: 1px solid green;
  border-radius: 50%;
  width: 20px;
  text-align: center;
  justify-content: center;
}

.sub-detail {
  margin-left: 10px;
  font-size: 11px;
  color: gray;
}
